<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加作者</title>
</head>
<body>
<h1>添加作者</h1>
<form action="/add_author/" method="POST">
    <p>
        作者姓名：<input type="text" name="author_name">
    </p>
    <p>
        作品：
        <select multiple name="books">
            {% for book in book_list %}
            <option value="{{ book.id }}" >{{ book.title }}</option>
            {% endfor %}
        </select>
    </p>
<p>
    <input type="submit" value="提交">
</p>

</form>
</body>
</html>