<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑作者</title>
</head>
<body>
<h1>编辑作者</h1>
<form action="/edit_author/" method="POST">
    <input type="text" name="author_id" value="{{ author.id }}" style="display: None">
    <p>
        作者姓名：<input type="text" name="author_name" value="{{ author.name }}">
    </p>
    <p>
        作品：
        <select multiple name="books">
            {% for book in book_list %}
                {# 如果当前这本书 在 作者关联的书author.book.akk里面，就默认选中 否则不选中 #}
                {% if book in author.book.all %}
                    <option selected value="{{ book.id }}">{{ book.title }}</option>
                {% else %}
                    <option value="{{ book.id }}">{{ book.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <input type="submit" value="提交">
    </p>

</form>
</body>
</html>